
.comment-tree{
  position: relative;
}

.comment{
  padding: 0;
  margin-left: 19px;

  .byline{
    font-size: 14px;
    color: #888;

    .actions{
      > a{
        color: #888;
        padding: 0 3px;
      }
    }

    > .collapse{
      position: absolute;
      left: 0;
      height: 100%;
      user-select: none;
      margin: 0;
      padding: 0 1px;
      font-size: 12px;
      color: #999;
    }

    > .collapse:hover{
      background-color: #eee;
    }

    > .vote.like{
      color: orange;
    }
  }
}

.comment-form{
  > div{
    display: flex;
  }

  textarea{
    width: 400px;
    height: 114px;
    flex-shrink: 1;
  }

  .bottom{
    padding: 6px 0;
  }
}

.comment-tree{
  > .children{
    padding-left: 16px;
  }
}
