
.story > .content, .comment > .content{

	font-size: 15px;

	code{
		background-color: #eee;
		padding: 1px 5px;
	}

	code{
		background-color: #eee;
		padding: 1px 5px;
	}

	li{
		margin: 0px 0px 4px 0px;
	}
}
