* {
  box-sizing: border-box;
}

html{
  overflow-y: scroll;
}

body{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.24;
  font-size: 14px;
  // padding: 0 2px;
  margin: 0 8px;
  background: #f1f3f5;
}

a{
  text-decoration: none;
  color: #0366d6;
}

a:hover{
  cursor: pointer;
  text-decoration: underline;
}

a:visited{
  // color: inherit;
}

.span-button{
  color: #0366d6;
}

.span-button:hover{
  text-decoration: underline;
  cursor: pointer;
}

#react-body{
  > *{
    margin: auto;
    max-width: 1080px;
  }
}

#story-form{
  > div{
    display: flex;
  }

  input,
  textarea{
    width: 540px;
    margin: 6px 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    flex-shrink: 1;
  }

  input{
    height: 28px;
  }

  textarea{
    height: 300px;
  }
}

.page-nav{
  display: flex;
  justify-content: center;
}

.login-section{
  form > input{
    display: block;
    margin: 10px 0;
  }
}

@import 'header.less';
@import 'plateList.less';
@import 'story.less';
@import 'comment.less';
@import 'loader.less';
@import 'content.less';
@import 'tag.less';
@import 'homepage.less';
@import 'plate.less';
@import 'misc.less';
