
.story-item{
	padding-bottom: 16px;

	> .up{
		// display: flex;
		// flex-wrap: wrap;
		// align-items: center;
		font-size: 17px;
		color: #000;

		.title{
			padding-right: 6px;
		}

		.tagline{
			display: inline-block;
			position: relative;
			top: -2px;
		}

	}

	> .middle{
		font-size: 13px;
		color: #717171;

		> a{
			color: #4070d0;
		}

	}
}

.story-item.cursor-here{
	background-color: #eee;
}

.plate-page{
	display: flex;
}

.plates-sidebar{
	width: 170px;
	font-size: 16px;
	flex-shrink: 1;

	.item {
		padding-bottom: 10px;
	}
}

.plate{
	width: 910px;
	flex-grow: 1;
	> .top-bar{
		padding: 0px 0px 6px;
		line-height: 22px;

		>.right{
			float: right;
			>a{
				padding-left: 6px;
			}
		}

		> .filter-tabs > a{
			padding-right: 6px;
		}

		> .new-post{
			float: right;
		}
	}
}
