.story-item{
  margin-bottom: 16px;
  font-size: 17px;

  > .left{
    position: absolute;
    width: 20px;
    text-align: center;
		color: hsla(209, 3%, 50%, 1)
  }

  > .right{
    margin-left: 22px;

    > .up{
      color: #000;

      > .title{
        padding-right: 6px;
        vertical-align: middle;
      }

      > .link{
        font-size: 12px;
        padding-right: 4px;
        color: #75828a;
      }

    }

    > .bottom{
      font-size: 13px;
      color: #717171;

      > a{
        color: #4070d0;
      }
    }
  }
}

.story-item.cursor-here{
  background-color: #eee;
}

.plate-page{
  display: flex;
  justify-content: center;
}

.plates-sidebar{
  width: 190px;
  font-size: 16px;
  flex-shrink: 1;
  margin-left: 20px;

  .item {
    padding-bottom: 10px;
  }
}

.plate{
  max-width: 670px;
  flex-grow: 1;

  > .top-bar{
    padding: 15px 0;
    margin-left: 22px;
    line-height: 22px;

    > .filter-tabs{

      > *{
        margin-right: 6px;
      }
    }

    > .right{

      > a{
        padding-left: 6px;
      }
    }

    > .new-post{
      float: right;
    }
  }
}

.dropdown.time{
  .summary{
      color: #0366D5
  }
  .details{
    > *{
      padding: 4px 6px;
    }
  }
}
