

.plate-page{
  display: flex;
  justify-content: center;
}

.plates-sidebar{
  width: 190px;
  font-size: 16px;
  flex-shrink: 1;
  margin-left: 20px;

  .item {
    padding-bottom: 10px;
  }
}

.plate{
  max-width: 670px;
  flex-grow: 1;

  > .top-bar{
    padding: 15px 0;
    margin-left: 22px;
    line-height: 22px;

    > .filter-tabs{
      > *{
        margin-right: 6px;
      }
    }

    > .right{
      > a{
        padding-left: 6px;
      }
    }

    > .new-post{
      float: right;
    }
  }
}

.dropdown.time{
  .summary{
    color: #0366d5;
  }

  .details{
    > *{
      padding: 4px 6px;
    }
  }
}
