.plate-list-page{
	padding: 6px 0px;
	.create-plate{
		display: flex;
		justify-content: flex-end;

	}
}


.story-item{
	padding: 8px 0px;

	> .up{
		font-size: 17px;
		color: #000;
	}

	> .middle{
		font-size: 13px;
		color: #717171;

		> a{
			color: #4070d0;
		}

	}
}

.story-item.cursor-here{
	background-color: #eee;
}


.plate{
	> .top-bar{
		padding: 14px 0px 6px;

		> .filter-tabs > a{
			padding-right: 6px;
		}

		> .new-post{
			float: right;
		}
	}
}

.plate-list{
	.plate-item{
		display: flex;
		padding: 4px 0px;
		font-size: 16px;
	}
}
