.story{

	h1{
		font-size: 16px;
	}

	> .title{
		font-size: 24px;
		display: flex;
		justify-content: space-between;
		padding: 20px 0px;

	}

	> .authors{
		font-size: 16px;
		padding: 12px 0px;
	}

	.byline{
		color: #555;
		padding-bottom: 16px;


		.score.like{
			color: orange;
		}
	}
	.actions > span {
		cursor: pointer;
	}

	.edit-story-form{
		textarea{
			width: 400px;
			height: 140px;
		}
	}

}
