
.tagline{
	display: flex;
	font-size: 12px
}
.tagline > .tag{
	margin: 0px 6px 0px 0px;
}

.tag{
	cursor: pointer;
	white-space: nowrap;
}

.tag, .tag:visited{
	background: #E1ECF4;
	color: #206090;
	padding: 1px 4px;
	display: inline-block;
}
