
.tagline{
  font-size: 12px;
}

.tagline > .tag{
  margin-right: 4px;
}

.tag{
  cursor: pointer;
  white-space: nowrap;
  line-height: 15px;
}

.tag,
.tag:visited{
  background: #e1ecf4;
  color: #206090;
  padding: 0 4px;
}

.plate-tags{
  .item{
    height: 30px;

    a{
      margin-right: 12px;
    }
  }
}
