{% extends 'layout.njk' %}

{% block content %}

<div class='story-list'>
	{% for item in storys %}
	<div class='story-item'>
		<div class='up'>
			<a class='title' href='{{item.link}}'>{{item.title}}</a>
		</div>
		<div class='middle'>
			<span class='votes'>{{item.votes}} points</span>
			<span class='date-submit'>{{item.date_submit}}</span>
			<span class='authors'>{{item.username}}</span>
		</div>
	</div>
	{% else %}
	<span>There is no story here.</span>
	{% endfor %}
	<div class='page-nav'>
		{% if nextPage %}
		<a href='/?after={{nextPage}}' class='next'>next</a>
		{% endif %}
	</div>
</div>
{% endblock %}
