{% extends 'layout.njk' %}

{% block content %}
<style>

.profile > div{
	padding-bottom: 14px;
}

.profile > div > div:first-child{
	font-weight: 600;
	color: #24292e;
	padding: 6px 0px;
}

.profile > div > input{
	height: 24px;
}

.big-button{
	line-height: 24px;
	padding: 0px 12px;
}


</style>

<div class='profile'>

	<div>Profile and settings</div>

	<div>
		<div>Username</div>
		<span>{{username}}</span>
	</div>
	<div>
		<div>Email</div>
		<span>{{email}}</span>
	</div>

	<div>
		<div>Storys you submit</div>
		<a href='/storys?uid={{uid}}'>link</a>
	</div>

	<div>
		<div>Log out</div>
		<button class='logout'>logout</button>
	</div>

</div>
{% endblock %}
