<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/1.css">
	<script>
		{% include "initLoader.js" %}
	</script>
	<script defer src='/js/bundle.js' ></script>
</head>
<body></body>
</html>
