<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script>
		{% include "initLoader.js" %}
	</script>
	<script defer src='/js/bundle.js' ></script>
	<title>Potato</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body></body>
</html>
