{% extends 'layout.njk' %}

{% block content %}

<div>
	<div>Submit Post</div>
	<form id='create-post-form' action='/api/create-post' method='post'>
		<div><input name='title' placeholder='Title'></div>
		<div><textarea name='content' placeholder='Content'></textarea></div>
		<button type='submit'>Submit</button>
	</form>
</div>
{% endblock %}
